:root {
  --white: #ffffff;
  --white-200: #e5e5e5;
  --black: #000000;
  --blue: #87cefa
  --blue-200:#0e6f9f;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--black);
}

a {
  text-decoration: none;
}

.pokemon-abilities{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    align-items: center;
}

.pokemon-ability{
  padding: 0 2px 0 2px; 
  margin: 2px;
  border: 2px solid #1ba866;
  border-radius: 16px;
  background-color: #1ba866;  
}
.navbar-img{
    width: 420px;
    height: 300px;
}

.left-btn{
    width: 25px;
    height: 25px;
}

.right-btn{
    width: 25px;
    height: 25px;
    transform: rotate(60deg)
}

.yellow{
    background-color: #feca1b !important;
}

.pokemon-more-info{
    margin-left: 15px;
    margin-top: 5px;
}